{% extends 'list.html' %}

{% load static %}

{% load widget_tweaks %}

{% block head_list %}
    <!-- AutoComplete -->
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <!-- -->
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <script src="{% static 'lib/moment-2.29.1/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

    <!-- Estilos personalizados solo para algunos módulos -->
    <link rel="stylesheet" href="{% static 'css/salestyle.css' %}">
    <script src="{% static 'sale/js/form.js' %}"></script>

{% endblock %}

<!-- Bloque de Datos -->
{% block content_data %}
    <div class="card card-default">

        <form id="frmSale" method="post" action="." enctype="multipart/form-data" style="background-color:var(--structure_white);">

            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title" style="color:var(--structure_blue2);">
                        {% if action == 'add' %}
                            <i class="fa-solid fa-plus"></i>
                        {% else %}
                            <i class="fa-solid fa-pen-clip"></i>
                        {% endif %}
                        {{ title }}
                    </h3>
                </div>
            </div>

            <div class="card-body">

                <div class="row">

                    <div class="col-lg-9">
                        <div class="card card-secondary">
                            <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">
                                <h3 class="card-title">
                                    <i class="fa-solid fa-boxes-packing"></i> Detalle de los Productos
                                </h3>
                            </div>

                            <div class="card-body">

                                <div class="form-group">
                                    <label>Buscar Productos en Stock:</label>
                                    <div class="input-group">
                                        <select class="form-control select2" name="search" id="searchingBD"></select>
{#                                        <input type="text" class="form-control" autocomplete="off" placeholder="Enter a description" maxlength="50" name="search">#}
                                        <div class="input-group-append">
                                            <button style="background-color:var(--structure_blue4); FONT-SIZE: 10pt" class="dropdown-toggle text-white btn-rounded btn-flat" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Opciones
                                            </button>

                                            <div class="dropdown-menu">
                                                <a class="dropdown-item btnSearchProducts">
                                                    <i class="fa-solid fa-magnifying-glass"></i> Buscar productos
                                                </a>
{#                                                <a class="dropdown-item btnClearSearch">#}
{#                                                    <i class="fa-solid fa-xmark"></i> Limpiar búsqueda#}
{#                                                </a>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" style="background-color:var(--structure_red); Font-size: 12px" class="btn text-white btn-rounded btnRemoveAll">
                                    Limpiar Tabla <i class="fa-solid fa-trash-can"></i>
                                </button>
                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table id="tblProducts" class="table table-striped table-hover table-sm text-center">
                                                <thead style="background-color:var(--structure_blue3);" class="text-white">
                                                    <tr>
                                                        <th>Eliminar</th>
                                                        <th>Nombre Producto</th>
                                                        <th>Stock</th>
                                                        <th>Precio Unitario</th>
                                                        <th>Cantidad</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card card-secondary">
                            <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">
                                <h3 class="card-title"><i class="fa-solid fa-cart-plus"></i> Datos de la factura</h3>
                            </div>

                            <div class="card-body">
                                <input type="hidden" name="action" value="{{ action }}">
                                <div class="form-group">
                                    <label>Fecha de venta:</label>
                                    <div class="md-form md-outline input-with-pre-icon timepicker" twelvehour="true">
                                        {{ form.date_joined }}
                                        <i class="fa-solid fa-calendar-days input-prefix"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Cliente:</label>
                                    <div class="input-group">
                                        {{ form.cli }}
                                        <div class="input-group-append">
                                            <div class="input-group-append">
                                            <button style="background-color:var(--structure_blue4);" class="text-white btn-rounded btn-flat btnAddClient" type="button">
                                                <i class="fa-solid fa-user-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label>Subtotal:</label>
                                    {{ form.subtotal }}
                                </div>

{#                                <div class="form-group">#}
{#                                    <label>Costo Adicional:</label>#}
{#                                    <input type="text" class="form-control text-center" name="additional_cost" value="0">#}
{#                                </div>#}
{##}
{#                                <div class="form-group">#}
{#                                    <label>Dtos. General:</label>#}
{#                                    <input type="text" class="form-control text-center discount" name="discount" value="0">#}
{#                                </div>#}

                                <div class="form-group">
                                    <label>% Dtos.:</label>
                                    {{ form.iva }}
                                </div>

                                <div class="form-group">
                                    <label>% Dtos. Calculado:</label>
                                    <input id="iva_calc" type="text" class="form-control" readonly name="ivacalc" value="0.00">
                                </div>

                                <div class="form-group">
                                    <label>Total a pagar:</label>
                                    {{ form.total }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-center" style="background-color:var(--structure_white);">
                {% if action == 'add' %}
                    <button type="submit" style="background-color:var(--structure_blue4); Font-size: 12px" class="btn text-white btn-rounded">
                        Guardar <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                {% else %}
                    <button type="submit" style="background-color:var(--structure_blue4); Font-size: 12px" class="btn text-white btn-rounded">
                        Actualizar <i class="fa-solid fa-rotate"></i>
                    </button>
                {% endif %}
                <a href="{{ list_url }}" style="background-color:var(--structure_red); Font-size: 12px" class="btn text-white btn-rounded">
                    Cancelar <i class="fa-solid fa-xmark"></i>
                </a>
            </div>

        </form>

    </div>


    <!-- Modal New Client-->
    <div class="modal fade" id="ModalFormClients" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form id="frmClient" enctype="multipart/form-data" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-white" style="background-color:var(--structure_blue2);">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <i class="fa-solid fa-user-plus"></i> Nuevo Cliente
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in frmClient.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" style="background-color:var(--structure_blue4); Font-size: 12px" class="btn text-white btn-rounded btn-block btn-xs btn-flat" id="enviar ">
                            Guardar <i class="fa-solid fa-floppy-disk ml-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Search Products -->
    <div class="modal fade" id="ModalSearchProducts" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-white" style="background-color:var(--structure_blue2);">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <b><i class="fa-solid fa-magnifying-glass"></i> Búsqueda de Productos</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-hover table-responsive" id="tblSearchProducts">
                        <thead style="background-color:var(--structure_blue3);" class="text-white">
                            <tr>
                                <th>Nombre Producto</th>
                                <th>Imagen</th>
                                <th>Stock</th>
                                <th>Precio Unitario</th>
                                <th>Opción</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer justify-content-center">
                    <button style="background-color:var(--structure_red); Font-size: 12px" class="btn text-white btn-rounded btn-block btn-xs btn-flat" type="button" data-dismiss="modal" aria-label="Close">
                        Cerrar <i class="fa-solid fa-xmark ml-1"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <script src="{% static 'sale/js/validations.js' %}">

{#    Este recibe los datos de la vista "SaleUpdateView" de la acción "elif action == 'edit': " #}
{#      para parcear los datos que recibo de la vista se coloca dl lado de la variable "|safe"#}
        vents.items.products = {{ det|safe }};
        vents.list();

    </script>

{% endblock %}