{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'sale/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th class="th-sm">Expandir</th>
        <th class="th-sm">Acciones</th>
        <th class="th-sm">N° Orden</th>
        <th class="th-sm">Nombre Comprador</th>
        <th class="th-sm">Fecha de registro</th>
        <th class="th-sm">Subtotal</th>
        <th class="th-sm">Descuento</th>
        <th class="th-sm">Total</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}
{#    Modal que al precionar el botón (+) de la fila se activa el modal#}
    <div class="modal fade" id="myModelDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-white" style="background-color:var(--structure_blue2);">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <b><i class="fa-solid fa-cart-shopping"></i> Consulta: Detalle de productos</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="tblDet" class="table table-striped table-hover table-sm text-center">
                        <thead style="background-color:var(--structure_blue3);" class="text-white">
                            <tr>
                                <th>Nombre Producto</th>
                                <th>Precio Venta</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer justify-content-center">
                    <a href="/erp/sale/list/" style="background-color:var(--structure_red); FONT-SIZE: 9pt" class="btn text-white btn-rounded btn-block btn-xs btn-flat">
                        Cerrar <i class="fa-solid fa-xmark ml-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
