{% extends "home.html" %}

{% block body %}

    <body class="hold-transition sidebar-mini layout-navbar-fixed">
        <div class="wrapper">

            <!-- Header -->
            {% include 'head.html' %}
            <!-- Sidebar -->
            {% include 'sidebar.html' %}
            <!-- Content -->

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark"> Bienvenido <small>{{request.user.get_full_name}}</small></h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="{% url 'productos_app:dashboard' %}"><i class="fa-solid fa-house-chimney"></i></a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'productos_app:processes-list' %}">{{nav_productions}}</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'productos_app:tiendanube-createapi' %}">{{nav_tiendanube_api}}</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'productos_app:sale-list' %}">{{nav_sale}}</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="container-fluid">
                        {% block content_data %}

                        {% endblock content_data %}
                    </div>
                </div>
            </div>

            <!-- Footer -->
            {% include 'footer.html' %}

        </div>

        {% block javascript %}

        {% endblock %}
        <script>
            {% if messages %}
                var html = '<p>';
                {% for message in messages %}
                    html += '{{ message }}<br>';
                {% endfor %}
                html += '</p>';
                Swal.fire({
                    title: 'Error!',
                    html: html,
                    icon: 'error'
                });
            {% endif %}
        </script>

    </body>

{% endblock body %}