{% extends "body.html" %}

{% load static %}

{% block head %}
    <script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>

    <style>
        img{
            max-width: 100%;
        }
    </style>

{% endblock %}

{% block content_data %}
    <div class="card card-default">

        <img src="{% static 'image/fondo_programa_hojas(1032x688).png' %}" alt="">

    </div>

{% endblock %}

{# 10:35#}