{% extends "body.html" %}

{% load static %}

{% load widget_tweaks %}


{% block content_data %}
    <form method="POST" action="." enctype="multipart/form-data" style="background-color:var(--structure_white);">

{#        <div class="card navbar-dark text-white" style="background-color:#F24130;">#}
        <div class="card card-danger card-outline">
            <div class="card-header">
                <h3 class="card-title" style="color:var(--structure_red);">
{#                <h3 class="card-title">#}
                    <i class="fas fa-solid fa-trash-can"></i>
                    {{title}}
                </h3>
            </div>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="fa-solid fa-triangle-exclamation"></i>
                        ¡Ha ocurrido un ERROR al intentar eliminar un registro!
                    </h5>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="alert text-white" style="background-color:var(--structure_red);">
                <h5><i class="fa-solid fa-triangle-exclamation"></i> Notificación!</h5>
                ¿Estás seguro de eliminar el registro #{{ object.id }}? Si confirma la eliminación, no podrá acceder nuevamente a este.
            </div>
        </div>
        <div class="card-footer text-center" style="background-color:var(--structure_white);">
            <button type="submit" style="background-color:var(--structure_red); FONT-SIZE: 9pt" class="btn text-white btn-rounded">
                Confirmar <i class="fa-solid fa-trash-can sm-1"></i>
            </button>
            <a href="{{ list_url }}" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-rounded">
                Cancelar <i class="fa-solid fa-xmark ml-1"></i>
            </a>
        </div>
    </form>
    <script>
        $('form').on('submit', function (e) {
            e.preventDefault();
            let parameters = new FormData(this);
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de eliminar el siguiente registro?', parameters, function () {
                Swal.fire({
                    title: 'Alerta',
                    text: 'Registro eliminado con Éxito',
                    icon: 'success',
                    timer: 2000,
                    onClose: () => {
                        location.href = '{{ list_url }}';
                    }
                }).then((result) => {

                });
            });
        });
    </script>
{% endblock content_data %}
