{% extends "body.html" %}

{% load static %}

{% load widget_tweaks %}

{% block content_data %}

    <div class="card card-default">

            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title" style="color:var(--structure_blue2);">
                    {% block title_processes %}

                    {% endblock %}
                </div>
            </div>

            <div class="card-body">
                <div class="row">

                    <div class="col-lg-9">
                        <div class="card card-secondary">

                            <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">
                                <h3 class="card-title">
                                    <i class="fas fa-solid fa-clipboard-list"></i> Detalle
                                </h3>
                            </div>

                            <div class="card-body">

                                <div class="form-group" >
                                    <label>N° Orden:</label>
                                    <div class="input-group date" id="order_number" data-target-input="nearest">
                                        <input value="{{ object.order_number }}" type="text" class="form-control" readonly data-target="#order_number"/>
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label>Productos:</label>
                                    <div class="input-group date" id="process_prod" data-target-input="nearest">
                                        <input value="{{ object.process_prod }}" type="text" class="form-control" readonly data-target="#process_prod"/>
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label>Observaciones:</label>
                                    <div class="input-group date" id="observation" data-target-input="nearest">
                                        <textarea name="observation" rows="3" type="text" class="form-control" readonly data-target="#observation">{{ object.observation }}
                                        </textarea>
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label>Cantidad:</label>
                                    <div class="input-group date" id="quantity" data-target-input="nearest">
                                        <input value="{{ object.quantity }}" type="text" class="form-control" readonly data-target="#quantity"/>
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label>Estado:</label>
                                    <div class="input-group date" id="state" data-target-input="nearest">
                                        <input value="{{ object.state }}" type="text" class="form-control" readonly data-target="#state"/>
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label>Tienda:</label>
                                    <div class="input-group date" id="destiny" data-target-input="nearest">
                                        <input value="{{ object.destiny }}" type="text" class="form-control" readonly data-target="#destiny"/>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-3">

                        <div class="card card-secondary">

                            <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">
                                <h3 class="card-title">
                                    <i class="fa-solid fa-calendar-days"></i> Fecha Desde | Hasta
                                </h3>
                            </div>

                            <div class="card-body">
                                <div class="form-group">
                                    <label>Fecha Ingreso:</label>
                                    <div class="input-group date" id="start_date" data-target-input="nearest">
                                        <input value="{{ object.process_date_joined }}" type="text" class="form-control datetimepicker-input" readonly data-target="#start_date"/>
                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa-regular fa-calendar-days"></i></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Fecha Vencimiento:</label>
                                    <div class="input-group date" id="start_date" data-target-input="nearest">
                                        <input value="{{ object.process_date_finish }}" type="text" class="form-control datetimepicker-input" readonly data-target="#start_date"/>
                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa-regular fa-calendar-days"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="card-footer text-center" style="background-color:var(--structure_white);">
                <a href="{{ list_url }}" style="background-color:var(--structure_red); FONT-SIZE: 9pt" class="btn text-white btn-rounded">Cerrar <i class="fa-solid fa-xmark"></i></a>
            </div>

    </div>

{% endblock %}
