{% load static %}
<!-- Main Footer -->

<footer class="main-footer text-center" style="background-color:var(--structure_white);">
    <strong>&copy; 2013 <a href="{% url 'productos_app:dashboard' %}">Irarte</a>.</strong> All rights reserved.
</footer>