{% extends "body.html" %}

{% load static %}

{% load widget_tweaks %}

{% block head %}
    {% block head_form %}

    {% endblock %}
{% endblock %}

{% block content_data %}
    <div class="card card-default">
        <form method="POST" id="limpiarForm2"  action="." enctype="multipart/form-data" style="background-color:var(--structure_white);">

{#            <div class="card navbar-dark text-white" style="background-color:#0A0EF0;">#}
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title" style="color:var(--structure_blue2);">
{#                    <h3 class="card-title">#}
                        {% if action == 'add' %}
                            <i class="fa-solid fa-plus"></i>
                        {% else %}
                            <i class="fa-solid fa-pen-clip"></i>
                        {% endif %}
                        {{title}}
                    </h3>
                </div>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fa-solid fa-ban"></i> Ha ocurrido un error al querer guardar el registro </h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="email">{{ field.label }}: </label>
                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                    </div>
                {% endfor %}

                <div class="card-footer text-center" style="background-color:var(--structure_white);">
                    {% if action == 'add' %}
                        <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-rounded" id="enviar ">Guardar <i class="fa-solid fa-floppy-disk ml-1"></i></button>
                        <button type="button" onclick="limpiarForm()" style="background-color:var(--structure_blue3); FONT-SIZE: 9pt" class="btn text-white btn-rounded">Limpar <i class="fa-solid fa-recycle ml-1"></i></button>

                    {% elif action == 'edit' %}
                        <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-rounded">Actualizar <i class="fa-solid fa-rotate ml-1"></i></button>
                    {% endif %}
                        <a type="submit" href="{{ list_url }}" style="background-color:var(--structure_red); FONT-SIZE: 9pt" class="btn text-white btn-rounded">Cancelar <i class="fa-solid fa-xmark ml-1"></i></a>
                </div>
            </div>

        </form>
    </div>


    <script src="{% static 'js/validations/validations.js' %}"></script>
    <script>

        {% if form.errors %}
            let errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

        $('form').on('submit', function (e) {
            e.preventDefault();
            let parameters = new FormData(this);
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                Swal.fire({
                    title: 'Alerta',
                    text: 'Acción Exitosa',
                    icon: 'success',
                    timer: 2000,
                    onClose: () => {
                        location.href = '{{ list_url }}';
                    }
                }).then((result) => {

                });
            });
        });

        //Limpiar campos
        function limpiarForm() {
            document.getElementById("limpiarForm2").reset();
        }

    </script>
{% endblock %}

