{% load static %}

<nav class="main-header navbar navbar-expand navbar-dark text-white" style="background-color:var(--structurec_black) ;">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa-solid fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'productos_app:dashboard' %}" class="nav-link"><i class="fa-solid fa-house-chimney"></i> Home</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">

            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fa-solid fa-shop"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:sale-list' %}" class="dropdown-item">
                    <i class="fa-solid fa-cart-shopping mr-2"></i> Ventas
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:tiendanube-list' %}" class="dropdown-item">
                    <i class="fa-brands fa-skyatlas mr-2"></i> Tiendanube
                </a>

                <div class="dropdown-divider"></div>
                <a href="" class="dropdown-item">
                    <i class="fa-solid fa-handshake mr-2"></i> Mercado libre
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:sale-create' %}" class="dropdown-item">
                    <i class="fa-solid fa-solid fa-cart-plus mr-2"></i> Local
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:contact-create' %}" class="dropdown-item">
                    <i class="fa-solid fa-solid fa-at mr-2"></i> Contacto
                </a>

            </div>

        </li>

        <li class="nav-item dropdown">

            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fa-solid fa-diagram-project"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:processes-list' %}" class="dropdown-item">
                    <i class="fa-solid fa-industry mr-2"></i> Producción
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:processes-pending-list' %}" class="dropdown-item">
                    <i class="fa-solid fa-comments-dollar mr-2"></i> Pendiente
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:processes-design-list' %}" class="dropdown-item">
                    <i class="fa-solid fa-pen-ruler mr-2"></i> Diseño
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:processes-layout-list' %}" class="dropdown-item">
                    <i class="fa-solid fa-layer-group mr-2"></i> Maquetería
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:processes-print-list' %}" class="dropdown-item">
                    <i class="fa-solid fa-print mr-2"></i> Impresión
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:processes-ironing-list' %}" class="dropdown-item">
                    <i class="fa-solid fa-memory mr-2"></i> Planchado
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:processes-making-list' %}" class="dropdown-item">
                    <i class="fa-solid fa-shirt mr-2"></i> Confección
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:processes-pack-list' %}" class="dropdown-item">
                    <i class="fa-solid fa-bag-shopping mr-2"></i> Paquetería
                </a>

                <div class="dropdown-divider"></div>
                <a href="{% url 'productos_app:processes-dispatch-list' %}" class="dropdown-item">
                    <i class="fa-solid fa-truck-fast mr-2"></i> Despacho
                </a>

            </div>

        </li>

        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

            {% if request.user.groups.all %}
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link {% if request.user.groups.all.count > 1 %} dropdown-toggle {% endif %}">{{ request.session.group }}</a>
                    {% if request.user.groups.all.count > 1 %}
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow" style="left: 0px; right: inherit;">
                            {% for g in request.user.groups.all  %}
                                {% if g.id != request.session.group.id %}
                                    <li><a href="{% url 'user:user-change-group' g.id %}" class="dropdown-item">{{ g.name }} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa-solid fa-user-gear"></i> {{ request.user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header" style="font-size: 12px;">
                            Su último acceso fue {{ request.user.last_login }}
                        </span>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'user:user-profile' %}" class="dropdown-item">
                        <i class="fa-solid fa-user-pen mr-2"></i> Editar Perfil
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'user:user-change-password' %}" class="dropdown-item">
                        <i class="fa-solid fa-user-lock mr-2"></i> Cambiar Contraseña
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">
                        <p>Este sistema te permitira realizar diferentes actividades</p>
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'access:logout' %}">
                    <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
                </a>
            </li>

        </ul>
    </ul>
</nav>
