{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Favicons -->
    <link rel="icon" href="{% static 'image/logo.png' %}" type="image/png/">
    <link href="{% static 'image/logo.png' %}" rel="apple-touch-icon">

{#    <link rel="icon" href="{% static 'image/empty.png' %}" type="image/png"/>#}
    <title>{{ title }}</title>

    <!-- AdminLTE App -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/606bbbad74.js" crossorigin="anonymous"></script>

    <!-- Google Fonts - Open Sans Condensed -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <!-- AdminLTE App - jquery -->
    <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>

    <!-- Sweetalert2 -->
    <script src="{% static 'lib/sweetalert2/sweetalert2.min.css' %}"></script>
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'lib/sweetalert2/sweetalert2.min.js' %}"></script>

    <!-- ALERT - alertifyjs (Este muestra los tildes o la cruz con los errores) -->
    <link rel="stylesheet" href="{% static 'lib/alertifyjs/css/alertify.min.css' %}">
    <script src="{% static 'lib/alertifyjs/alertify.min.js' %}"></script>

    <!-- Jquery Confirm (Este es el que uso para confirmación) -->
    <link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
    <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>

    <!------------------------------------- Bootstrap core JS ------------------------------------->
    <script src="{%static 'lib/bootstrap4/js/bootstrap.min.js'%}"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{%static 'lib/bootstrap4/css/bootstrap.min.css'%}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap4/css/mdb.min.css' %}">

    <!------------------------------------- Bootstrap CSS ------------------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lib/bootstrap4/4.5.2/css/bootstrap.min.css' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e894090d5a.js" crossorigin="anonymous"></script>
    <script src="{% static 'lib/bootstrap4/4.5.2/js/e894090d5a.js' %}" crossorigin="anonymous"></script>

    <!-- My css -->
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <!-- My Functions Globals -->
    <script src="{% static 'js/functions.js' %}"></script>

    <!--  Extra Librerías -->
    {% block head %}

    {% endblock head %}

</head>
    <!--  Body -->
    {% block body %}

    {% endblock body %}

</html>