{% extends "body.html" %}

{% load static %}

{% block head %}
    <!-- DataTable -->
    <link rel="stylesheet" href="{% static 'lib/datatables/datatables-1.10.22/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables/datatables-1.10.22/plugins/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables/datatables-1.10.22/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/plugins/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/plugins/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- -->
    {% block head_list %}

    {% endblock %}
{% endblock %}
<!---->

{% block content_data %}

    <!-- /.card-header -->
    <div class="card card-default">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title" style="color:var(--structure_blue2);">
                    <i class="fa-solid fa-table-list"></i>
                    {{ title }}
                </h3>
            </div>
        </div>

        {% block context %}

        {% endblock context %}

        <div class="card-body">
            <!-- TABLE -->
            <table id="data" class="table table-striped table-hover table-sm text-center">
                <thead style="background-color:var(--structure_blue3);" class="text-white">
                {% block columns %}

                {% endblock %}
                </thead>
                <tbody>
                {% block rows %}

                {% endblock %}
                </tbody>
            </table>

        </div>

        <div class="card-footer text-center" style="background-color:var(--structure_white);">
            {% block buttons_list %}
                <a href="{{ create_url }}" style="background-color:var(--structure_blue2); FONT-SIZE: 9pt"
                   class="btn text-white btn-rounded">Crear <i class="fa-solid fa-plus"></i></a>
                <a href="{{ list_url }}" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt"
                   class="btn text-white btn-rounded">Actualizar <i class="fa-solid fa-rotate"></i></a>
            {% endblock %}
        </div>

    </div>
{% endblock %}
