{% load static %}

<aside class="main-sidebar sidebar-dark text-white elevation-4" style="background-color:var(--structurec_black) ;">
    <a style="background-color:var(--structurec_black) ;" href="#" class="brand-link">
        <img src="{% static 'image/logo.png' %}" class="brand-image img-circle elevation-3" style="opacity: .8" alt="Irarte">
{#        <span class="brand-text font-weight-light">DesignOrganApp</span>#}
        <span class="brand-text font-weight-light"></span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img-circle elevation-3" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-solid fa-shop"></i><p> Tiendas <i class="right fa-solid fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                          <li class="nav-item">
                            <a href="{% url 'productos_app:sale-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-cart-shopping"></i>
                                <p> Ventas</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:tiendanube-list' %}" class="nav-link">
                                <i class="nav-icon fa-brands fa-skyatlas"></i>
                                <p> Tiendanube</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="nav-icon fa-solid fa-handshake"></i>
                                <p> Mercado libre</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:sale-create' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-cart-plus"></i>
                                <p> Local</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:contact-create' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-at"></i>
                                <p> Contacto</p>
                            </a>
                          </li>
                    </ul>
                </li>

            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fa-solid fa-diagram-project"></i><p> Procesos <i class="right fa-solid fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a href="{% url 'productos_app:processes-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-industry"></i>
                                <p> Producción</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:processes-pending-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-comments-dollar"></i>
                                <p> Pendiente</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:processes-design-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-pen-ruler"></i>
                                <p> Diseño</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:processes-layout-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-layer-group"></i>
                                <p> Maquetería</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:processes-print-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-print"></i>
                                <p> Impresión</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:processes-ironing-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-memory"></i>
                                <p> Planchado</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:processes-making-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-shirt"></i>
                                <p> Confección</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:processes-pack-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-bag-shopping"></i>
                                <p> Paquetería</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:processes-dispatch-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-truck-fast"></i>
                                <p> Despacho</p>
                            </a>
                          </li>

                    </ul>
                </li>

            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fa-solid fa-database"></i><p> Base de Datos <i class="right fa-solid fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a href="{% url 'productos_app:client-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-user"></i>
                                <p> Clientes</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:department-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-location-dot"></i>
                                <p> Ciudades</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:province-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-map-location-dot"></i>
                                <p> Provincias</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:product-list' %}" class="nav-link">
                                <i class="nav-icon fa-brands fa-product-hunt"></i>
                                <p> Productos</p>
                            </a>
                          </li>
                    </ul>
                </li>

            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fa-solid fa-upload"></i><p> Egresos <i class="right fa-solid fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a href="{% url 'productos_app:services-list' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-dollar-sign"></i>
                                <p>Pago de Servicios</p>
                            </a>
                          </li>
                    </ul>
                </li>

            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fa-solid fa-clipboard-list"></i><p> Reportes <i class="right fa-solid fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a href="{% url 'productos_app:graphic-detail-sales' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-chart-column"></i>
                                <p> Gráfico Ventas</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'productos_app:graphic-tiendanubeone-sales' %}" class="nav-link">
                                <i class="nav-icon fa-solid fa-chart-column"></i>
                                <p> Gráfico Tiendanube 1</p>
                            </a>
                          </li>
                    </ul>
                </li>

            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="{% url 'user:user-list' %}" class="nav-link">
                      <i class="nav-icon fa-solid fa-user-group"></i><p> Usuarios </p>
                    </a>
                </li>

            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="{% url 'access:logout' %}" class="nav-link">
                      <i class="nav-icon fa-solid fa-right-from-bracket"></i><p> Cerrar Sesión </p>
                    </a>
                </li>

            </ul>

        </nav>
    </div>
</aside>