{% extends "body.html" %}

{% load static %}

{% block head %}
    <!-- DataTable -->
    <link rel="stylesheet" href="{% static 'lib/datatables/datatables-1.10.22/css/dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/datatables/datatables-1.10.22/plugins/css/responsive.bootstrap4.min.css' %}" />
    <script src="{% static 'lib/datatables/datatables-1.10.22/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/plugins/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/plugins/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- -->
    <!-- AutoComplete -->
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <!-- -->
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <script src="{% static 'lib/moment-2.29.1/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

    <script src="{% static 'lib/jquery-ajax-googleapis/jquery.min.js' %}" crossorigin="anonymous"></script>
    <!-- -->
    <script>
        $(document).ready(function (){
            alert('entro en la funcion')
            document.getElementById('lbl_state_dressmaking').style.display = 'block';
            document.getElementById('id_state_dressmaking').style.display = 'block';
        });
    </script>

    {% block head_list %}

    {% endblock %}
{% endblock %}
<!---->

{% block content_data %}

<!-- /.card-header -->
 <div class="card card-default">

    <form id="frmSale" method="post" action="." enctype="multipart/form-data" style="background-color:var(--structure_white);">

        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title" style="color:var(--structure_blue2);">
                    {% if action == 'add' %}
                        <i class="fa-solid fa-industry"></i>
                    {% else %}
                        <i class="fa-solid fa-industry"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
        </div>

        <div class="card-body">
            <div class="row">

                <div class="col-lg-9">
                    <div class="card card-secondary">
                        <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">
                            <h3 class="card-title">
                                <i class="fa-solid fa-clipboard-list"></i> Carga de Datos
                            </h3>
                        </div>

                        <div class="card-body">

                            <input type="hidden" name="action" value="{{ action }}">

                            <div hidden class="form-group">
                                <label>N° Orden:</label>
                                {{ form.order_number }}
                            </div>

                            <div class="form-group">
                                <label>N° Orden:</label>
                                <input id="order_numbers" type="text" class="form-control" readonly name="order_numbers" style="width: 35%">
                            </div>

                            <div hidden class="form-group">
                                <label>order_id:</label>
                                {{ form.order_id }}
                            </div>

                            <div hidden class="form-group">
                                <label>product_id</label>
                                {{ form.product_id }}
                            </div>

                            <div class="form-group" >
                                <label>Productos:</label>
                                {{ form.process_prod }}
                            </div>

                            <div hidden class="form-group">
                                <label>Producto:</label>
                                <input id="productos" type="text" class="form-control" readonly name="productos">
                            </div>

                            <div class="form-group">
                                <label>Observaciones:</label>
                                {{ form.observation }}
                            </div>

                            <div class="form-group">
                                <label>Cantidad:</label>
                                {{ form.quantity }}
                            </div>

                            <div class="form-group">
                                <label>Estado:</label>
                                {{ form.state }}
                            </div>

                            <div class="form-group">
                                <label id="lbl_state_dressmaking">Confeccionistas:</label>
                                {{ form.state_dressmaking }}
                            </div>

                            <div class="form-group">
                                <label>Tienda:</label>
                                {{ form.destiny }}
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="card card-secondary">

                        <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">
                            <h3 class="card-title">
                                <i class="fa-solid fa-calendar-days"></i> Fecha Desde | Hasta
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Fecha de venta:</label>
                                <div class="input-group date" id="start_date" data-target-input="nearest">
                                    <input value="{{ start_date }}" type="text" class="form-control datetimepicker-input" readonly data-target="#start_date"/>
                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-regular fa-calendar-days"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Fecha de entrega:</label>
                                <div class="input-group date" id="finish_date" data-target-input="nearest">
                                    <input value="{{ finish_date }}" type="text" class="form-control datetimepicker-input" readonly data-target="#finish_date"/>
                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-regular fa-calendar-days"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="checkbox_finish_date" type="checkbox" name="checkbox_finish_date" id="checkbox_finish_date">
{#                                    <input type="checkbox" onclick="checkbox_finish_date()">#}
                                <label>Cambiar fecha de entrega:</label>
                            </div>

                            <div hidden class="form-group" >
                                {{ form.process_date_joined }}
                            </div>

                            <div class="form-group">
                                <div class="md-form md-outline input-with-pre-icon timepicker" twelvehour="true">
                                    {{ form.process_date_finish }}
                                    <i name="icon_date_finish" id="icon_date_finish" class="far fa-calendar-alt input-prefix"></i>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="card-footer text-center" style="background-color:var(--structure_white);">
            {% if action == 'add' %}
                <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-xs btn-rounded">
                    Guardar <i class="fa-solid fa-floppy-disk"></i>
                </button>
            {% else %}
                <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-xs btn-rounded">
                    Actualizar <i class="fa-solid fa-rotate"></i>
                </button>
            {% endif %}
            <a href="{{ list_url }}" style="background-color:var(--structure_red); FONT-SIZE: 9pt" class="btn text-white btn-xs btn-rounded">
                Cancelar <i class="fa-solid fa-xmark"></i>
            </a>
        </div>

    </form>

</div>
{% endblock %}
