{% extends 'listp.html' %}

{% load static %}
{% block head_list %}
    <script src="{% static 'processes-pending/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th class="th-sm">Acción</th>
        <th class="th-sm">Estado</th>
        <th class="th-sm">N° Orden</th>
        <th class="th-sm">Ingreso</th>
        <th class="th-sm">Vencimiento</th>
        <th class="th-sm">Producto</th>
        <th class="th-sm">Imagen</th>
        <th class="th-sm">Cantidad</th>
        <th class="th-sm">Observación</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
