{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'states/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th class="th-sm">ID</th>
        <th class="th-sm">Acción</th>
        <th class="th-sm">Procesos</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
