{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'user/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th class="th-sm">Acciones</th>
        <th class="th-sm">Nombres y Apellido</th>
        <th class="th-sm">Username</th>
        <th class="th-sm">Email</th>
        <th class="th-sm">Fecha de Creación</th>
        <th class="th-sm">Imagen</th>
        <th class="th-sm">Grupos</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

