{% extends 'list.html' %}

{% load static %}

{% load widget_tweaks %}

{% block head_list %}
    <!-- AutoComplete -->
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <!-- -->
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <script src="{% static 'lib/moment-2.29.1/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

    <!-- Estilos personalizados solo para algunos módulos -->
     <link rel="stylesheet" href="{% static 'css/salestyle2.css' %}">
    <script src="{% static 'services/js/form.js' %}"></script>

{% endblock %}


<!-- Bloque de Datos -->
{% block content_data %}
    <div class="card card-default">
        <form id="frmSale" method="POST" action="." enctype="multipart/form-data" style="background-color:var(--structure_white);">

            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title" style="color:var(--structure_blue2);">
                        {% if action == 'add' %}
                            <i class="fa-solid fa-plus"></i>
                        {% else %}
                            <i class="fa-solid fa-pen-clip"></i>
                        {% endif %}
                        {{title}}
                    </h3>
                </div>
            </div>

            <div class="card-body">
                <div class="row">

                    <div class="col-lg-9">
                        <div class="card card-secondary">
                            <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">
                                <h3 class="card-title">
                                    <i class="fas fa-solid fa-dollar-sign"></i> Carga de Servicio
                                </h3>
                            </div>

                            <div class="card-body">

                                <input type="hidden" name="action" value="{{ action }}">

                                <div class="form-group">
                                    <label>Servicio:</label>
                                    {{ form.name }}
                                </div>

                                <div class="form-group">
                                    <label>N° Cliente | Cuenta:</label>
                                    {{ form.client_number }}
                                </div>

                                <div class="form-group">
                                    <label>Total a Pagar:</label>
                                    {{ form.total }}
                                </div>

                                <div class="form-group">
                                    <label>Estado:</label>
                                    {{ form.services_state }}
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-lg-3">
                        <div class="card card-secondary">

                            <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">
                                <h3 class="card-title">
                                    <i class="fa-solid fa-calendar-days"></i> Fecha Desde | Hasta
                                </h3>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label>Fecha de Ingreso:</label>
                                    <div  class="md-form md-outline input-with-pre-icon timepicker" readonly twelvehour="true">
                                        {{ form.date_joined }}
                                        <i class="fa-regular fa-calendar-days input-prefix"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Fecha de Vencimiento:</label>
                                    <div class="md-form md-outline input-with-pre-icon timepicker" twelvehour="true">
                                        {{ form.date_finish }}
                                        <i class="fa-regular fa-calendar-days input-prefix"></i>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="card-footer text-center" style="background-color:var(--structure_white);">
                {% if action == 'add' %}
                    <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-rounded">
                        Guardar <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                {% else %}
                    <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-rounded">
                        Actualizar <i class="fa-solid fa-rotate"></i>
                    </button>
                {% endif %}
                <a href="{{ list_url }}" style="background-color:var(--structure_red); FONT-SIZE: 9pt" class="btn text-white btn-rounded">
                    Cancelar <i class="fa-solid fa-xmark"></i>
                </a>
            </div>

        </form>

    </div>

    <script src="{% static 'services/js/validations.js' %}">

{#    Este recibe los datos de la vista "SaleUpdateView" de la acción "elif action == 'edit': " #}
{#      para parcear los datos que recibo de la vista se coloca dl lado de la variable "|safe"#}
        vents.items.products = {{ det|safe }};
        vents.list();

    </script>

{% endblock %}