{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'services/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th class="th-sm">Acción</th>
        <th class="th-sm">Estado</th>
        <th class="th-sm">Servicio</th>
        <th class="th-sm">N° Cliente | Cuenta</th>
        <th class="th-sm">Ingreso</th>
        <th class="th-sm">Vencimiento</th>
        <th class="th-sm">Total a Pagar</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
