{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Favicons -->
    <link rel="icon" href="{% static 'image/logo.png' %}" type="image/png/">
    <link href="{% static 'image/logo.png' %}" rel="apple-touch-icon">

{#    <link rel="icon" href="{% static 'image/empty.png' %}" type="image/png"/>#}
    <title>{{ title }}</title>

    <!-- AdminLTE App -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/606bbbad74.js" crossorigin="anonymous"></script>


    <!-- Google Fonts - Open Sans Condensed -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{#    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">#}

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
{#    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">#}
    <!-- Google Fonts - Roboto -->
{#    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">#}
    <!-- Google Fonts - PT Serif -->
{#    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">#}

    <!-- AdminLTE App - jquery -->
    <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/js/demo.js' %}"></script>

    <!-- Sweetalert2 -->
    <script src="{% static 'lib/sweetalert2/sweetalert2.min.css' %}"></script>
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'lib/sweetalert2/sweetalert2.min.js' %}"></script>



    <!-- ALERT - alertifyjs (Este muestra los tildes o la cruz con los errores) -->
    <link rel="stylesheet" href="{% static 'lib/alertifyjs/css/alertify.min.css' %}">
    <script src="{% static 'lib/alertifyjs/alertify.min.js' %}"></script>


    <!-- Jquery Confirm (Este es el que uso para confirmación) -->
    <link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
    <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>

    <!------------------------------------- Bootstrap core JS ------------------------------------->
    <script src="{%static 'lib/bootstrap4/js/bootstrap.min.js'%}"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{%static 'lib/bootstrap4/css/bootstrap.min.css'%}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap4/css/mdb.min.css' %}">

    <!------------------------------------- Bootstrap CSS ------------------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lib/bootstrap4/4.5.2/css/bootstrap.min.css' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e894090d5a.js" crossorigin="anonymous"></script>
    <script src="{% static 'lib/bootstrap4/4.5.2/js/e894090d5a.js' %}" crossorigin="anonymous"></script>

    <!-- My css -->
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <!-- My Functions Globals -->
    <script src="{% static 'js/functions.js' %}"></script>

    <!--  Extra Librerías -->
    <style>
        img{
            max-width: 100%;
        }
    </style>

</head>
    <!--  Body -->

 <body class="hold-transition sidebar-mini layout-navbar-fixed">
        <div class="wrapper">

            <!-- Header -->
            <nav class="main-header navbar navbar-expand navbar-dark text-white" style="background-color:var(--structurec_black) ;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa-solid fa-bars"></i></a>
                    </li>
                </ul>

            </nav>
            <!-- Sidebar -->
            <aside class="main-sidebar sidebar-dark text-white elevation-4" style="background-color:var(--structurec_black) ;">

                <a style="background-color:var(--structurec_black) ;" href="#" class="brand-link">
                    <img src="{% static 'image/logo.png' %}" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light"></span>
                </a>

                <div class="sidebar">

                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                  <i class="nav-icon fa-solid fa-shop"></i><p> Tiendas <i class="right fa-solid fa-angle-left"></i></p>
                                </a>
                                <ul class="nav nav-treeview" style="display: none;">
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-cart-shopping"></i>
                                            <p> Ventas</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-brands fa-skyatlas"></i>
                                            <p> Tiendanube</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-handshake"></i>
                                            <p> Mercado libre</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-cart-plus"></i>
                                            <p> Local</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-at"></i>
                                            <p> Contacto</p>
                                        </a>
                                      </li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                  <i class="nav-icon fa-solid fa-diagram-project"></i><p> Procesos <i class="right fa-solid fa-angle-left"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-industry"></i>
                                            <p> Producción</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-phone"></i>
                                            <p> Pendiente</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-pen-ruler"></i>
                                            <p> Diseño</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-layer-group"></i>
                                            <p> Maquetería</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-print"></i>
                                            <p> Impresión</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-memory"></i>
                                            <p> Planchado</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-shirt"></i>
                                            <p> Confección</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-bag-shopping"></i>
                                            <p> Paquetería</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-truck-fast"></i>
                                            <p> Despacho</p>
                                        </a>
                                      </li>

                                </ul>
                            </li>

                        </ul>

                        <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                  <i class="nav-icon fa-solid fa-database"></i><p> Base de Datos <i class="right fa-solid fa-angle-left"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-user"></i>
                                            <p> Clientes</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-location-dot"></i>
                                            <p> Ciudades</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-map-location-dot"></i>
                                            <p> Provincias</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-brands fa-product-hunt"></i>
                                            <p> Productos</p>
                                        </a>
                                      </li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                  <i class="nav-icon fa-solid fa-upload"></i><p> Egresos <i class="right fa-solid fa-angle-left"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-dollar-sign"></i>
                                            <p>Pago de Servicios</p>
                                        </a>
                                      </li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                  <i class="nav-icon fa-solid fa-clipboard-list"></i><p> Reportes <i class="right fa-solid fa-angle-left"></i></p>
                                </a>
                                <ul class="nav nav-treeview">
                                      <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-icon fa-solid fa-chart-column"></i>
                                            <p> Gráficos</p>
                                        </a>
                                      </li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="true">

                            <li class="nav-item has-treeview menu-open">
                                <a href="#" class="nav-link">
                                  <p> Bienvenido <i class="right fa-solid fa-angle-left"></i></p>
                                </a>

                                <ul class="nav nav-treeview">
                                    <li class="nav-item">

                                        {% if request.user.is_authenticated %}
                                            <a href="{% url 'productos_app:dashboard' %}">
                                                <i class="fa-solid fa-user-large"></i> {{ request.user.username }}
                                            </a>
                                        {% else %}
                                            <li class="nav-item">
                                                <a href="{% url 'access:login' %}" class="nav-link">
                                                    <i class="nav-icon fa-solid fa-right-to-bracket"></i> Login
                                                </a>
                                            </li>
                                        {% endif %}

                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </nav>

                </div>

            </aside>
            <!-- Content -->

            <div class="content-wrapper">
                <div class="content">
                    <img src="{% static 'image/fondo_oso(1540x1027).jpg' %}" alt="">
                </div>
            </div>

            <!-- Footer -->
            {% include 'footer.html' %}

        </div>

        {% block javascript %}

        {% endblock %}

    </body>


</html>