{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'client/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th class="th-sm">Acciones</th>
        <th class="th-sm">Nombre Cliente</th>
        <th class="th-sm">Email</th>
        <th class="th-sm">DNI / CUIL</th>
        <th class="th-sm">Teléfono</th>
        <th class="th-sm">Dirección</th>
        <th class="th-sm">Número</th>
        <th class="th-sm">Piso</th>
        <th class="th-sm">Localidad</th>
        <th class="th-sm">Ciudad / Departamento</th>
        <th class="th-sm">Provincia / Estado</th>
        <th class="th-sm">Cód Postal</th>
        <th class="th-sm">Otros</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}