{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="icon" href="{% static 'image/empty.png' %}" type="image/png"/>
        <title>{{ title }}</title>

        <!-- AdminLTE App -->
        <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css' %}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link href="{% static 'lib/font-awesome-6.x/releases v5.15.1/css/all.css' %}" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- Font Awesome 6.X (2022)-->
        <link href="{% static 'lib/font-awesome-6.x/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Our project just needs Font Awesome Free's Solid + Brand files -->
        <link href="{% static 'lib/font-awesome-6.x/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'lib/font-awesome-6.x/css/brands.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'lib/font-awesome-6.x/css/solid.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Google Fonts Roboto -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

        <!-- AdminLTE App - jquery -->
        <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
        <!-- Bootstrap 4 -->
        <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
        <script src="{% static 'lib/adminlte-3.0.4/js/demo.js' %}"></script>

        <!-- Sweetalert2 -->
        <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
        <script src="{% static 'lib/sweetalert2/sweetalert2.min.js' %}"></script>
        <script src="{% static 'lib/sweetalert2/sweetalert2.min.css' %}"></script>


        <!-- ALERT - alertifyjs (Este muestra los tildes o la cruz con los errores) -->
        <script src="{% static 'lib/alertifyjs/alertify.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'lib/alertifyjs/css/alertify.min.css' %}">


        <!-- Jquery Confirm (Este es el que uso para confirmación) -->
        <link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
        <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>


        <!------------------------------------- Bootstrap core JS ------------------------------------->
        <script src="{%static 'lib/bootstrap4/js/bootstrap.min.js'%}"></script>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{%static 'lib/bootstrap4/css/bootstrap.min.css'%}">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" href="{% static 'lib/bootstrap4/css/mdb.min.css' %}">

        <!------------------------------------- Bootstrap CSS ------------------------------------->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'lib/bootstrap4/4.5.2/css/bootstrap.min.css' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/e894090d5a.js" crossorigin="anonymous"></script>
        <script src="{% static 'lib/bootstrap4/4.5.2/js/e894090d5a.js' %}" crossorigin="anonymous"></script>

        <!-- My css -->
        <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
        <!-- My Functions Globals -->
        <script src="{% static 'js/functions.js' %}"></script>

        <!--  Extra Librerías -->
        {% block head %}

        {% endblock %}

    </head>
        <body class="hold-transition login-page">
            {% block content %}

            {% endblock %}
        </body>
</html>