{% extends 'login/base.html' %}

{% load static %}
<!-- APP Widgwt Tweaks -->
{% load widget_tweaks %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <img src="{% static 'image/logo.png' %}" class="profile-user-img img-fluid img-circle">
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Cambio de Password</p>
                <form action=".." method="post">
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa-solid fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.confirmPassword }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa-solid fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
{#                            <button type="submit" style="background-color:#0A0EF0;" class="btn btn-block text-white btn-rounded">#}
                            <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 10pt" class="btn btn-block text-white btn-rounded">
                                <i class="fa-solid fa-lock"></i> Cambiar Password
                            </button>
                        </div>
                    </div>
                    <p class="text-center mt-2" style="font-size: 13px;">
                        Si deseas volver al login da un click <a href="{% url 'access:login' %}">aqui </a>
                    </p>
                </form>
            </div>
        </div>
        <script type="application/javascript">
            $(function () {
                $('form').on('submit', function (e) {
                    e.preventDefault();
                    let parameters = new FormData(this);
                    submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de cambiar tu contraseña?', parameters, function () {
                        Swal.fire({
                            title: 'Notificación',
                            text: 'Tu contraseña ha sido modificada correctamente',
                            icon: 'success',
                            timer: 5000,
                            onClose: () => {
                                location.href = '{{ login_url }}';
                            }
                        }).then((result) => {

                        });
                    });
                });
            });
        </script>
    </div>
{% endblock %}