{% extends 'login/base.html' %}

{% load static %}
<!-- APP Widgwt Tweaks -->
{% load widget_tweaks %}

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <img src="{% static 'image/logo.png' %}" class="profile-user-img img-fluid img-circle">
{#            <a href="{% url 'index' %}"><b>Irarte</b></a>#}
        </div>

           <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Inicie sesión con sus credenciales</p>
                <form action="." method="post">
                    <!-- Almacena la última sesión y sitio donde estuvo el usuario -->
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.username|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese su username' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa-solid fa-user-large"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.password|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese su password' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa-solid fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 10pt" class="btn btn-block text-white btn-rounded">
                                <i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión
                            </button>
                        </div>
                    </div>
                    <p class="text-center mt-2" style="font-size: 13px;">
                        Si no recuerdas tu contraseña puedes resetearla dando click <a href="{% url 'access:reset-password' %}">aqui </a>
                    </p>
                    <!-- /.col -->
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
        <!-- /.login-box -->

        <script type="application/javascript">
            {% if form.errors %}
                let errors = '';
                {% for field in form %}
                    {% for error in field.errors %}
                        errors += '{{ error }}\n';
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
                Swal.fire({
                    title: 'Error!',
                    text: errors,
                    icon: 'error'
                });
            {% endif %}
        </script>
    </div>

{% endblock %}