:root {
    /* ESTRUCTURAS */
    --structure_yellow: #F2D338;
    --structure_blue1: #0476D9;
    --structure_blue2: #0476D9;
    --structure_blue3: #16B4F3;
    /* Botones de Aceptar | Guardar | actualizar*/
    --structure_blue4: #248EA6;
    --structurec_black: #000000;
    --structure_white: #F5F5F5;
    --structure_white2: #FCFCFC;
    --structure_red: #F23030;
    --search_product_stock: #F2D338;
    --search_product_price: #F2622E;
    /* Gris color de objeto bloqueado  */
    --structure_gray: #EBEBEB;

    /* PROCESOS */
    /* 1° Color íconos  */
    --color_iconos_1_8: #248EA6;
    /* 2° Color íconos  */
    --color_iconos_2_7: #F2D338;
    /* 3° Color íconos  */
    --color_iconos_3: #F2622E;
    /* 4° Color íconos  */
    --color_iconos_4: #25C7D9;
    /* 1° Color estructura  */
    --color_estructura_1: #16B4F3;
    /* 1° Color estructura  */
    --color_estructura_2: #0476D9;

}
/******************************************************************************
                                    FUENTES
******************************************************************************/
* {
    /*Tipo de letra*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'PT Serif', serif;*/

    /*Tamaño texto font-size: 15px;*/
    /*Margen*/
    margin: 0;
    /*Es una propiedad CSS para cambiar el modelo de caja por defecto de los navegadores.*/
    /*El ancho de un elemento se altera si se le aplica un borde o un padding.*/
    box-sizing: border-box;
}

/******************************************************************************
                   Botones + y - del DataTable
******************************************************************************/
td.details-control {
    background: url('../lib/datatables/datatables-1.10.22/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../lib/datatables/datatables-1.10.22/images/details_close.png') no-repeat center center;
}

/******************************************************************************
                   Nadvar
******************************************************************************/

.nav_head {
    background-color: var(--structurec_black);
    /*Permite regular la visiblidad de los contenidos que sobresalen de una caja html*/
    overflow: hidden;
    /*Ancho del X %*/
    width: 100%;
    /*Alineación del texto*/
    text-align: right;
    /*Alto del Navbar*/
    height: 40px;
    font-size: 15px;
}

.navbar_head {
    background-color: var(--structurec_black);
    /*sirve para alinear un elemento, haciendo que el texto de alrededor del mismo se agrupe entorno a dicho elemento.*/
    /*Sus posibles valores son “left” (para alinear el elemento a la izquierda) y “right” (para alinearlo a la derecha).*/
    /*Un elemento con float CSS debe tener definida su anchura*/
    float: right;
    text-align: right;
    /*Ancho del 100%*/
    width: 100%;
    /*Alto del 100%*/
    height: 100%;
    /*Bajar el texto unos 10px*/
    padding-top: 10px;
    font-size: 15px;
}

.navbar_head ul li {
    display: inline;
}

.navbar_head_link a {
    /*Se elimina la decoración del link*/
    text-decoration: none;
    /*Color de texto. Esto se debe hacer directamente sobre el ancla para que funcione*/
    color: var(--structure_white);
    /*Separación entre texto*/
    margin-right: 15px;
}

.navbar_head_link a:hover {
    color: var(--structure_yellow);
    text-decoration: none;
    /*Texto en negritas*/
    font-weight: bold;
}

/******************************************************************************
                   PANEL IZQUIERDO
******************************************************************************/
.company_log {
    background: var(--structure_white);
    text-align: center;
    /*Ancho del Navbar*/
    width: 150px;
    /*Alto del Navbar*/
    height: 150px;
    padding-top: 60px;
    margin: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left_panel {
    background: var(--structurec_black);
    /*Ancho del 100%*/
    width: 100%;
}

.left_panel_size {
    /*Ancho del 100%*/
    width: 100%;
}

/******************************************************************************
                   ICONOS
******************************************************************************/
.icon span {
    margin-right: 10px;
}

/******************************************************************************
                   PANEL INFERIOR
******************************************************************************/
.central_panel_father {
    background: var(--structurec_black);
}

/******************************************************************************
                   PANEL DE DATOS PARA EL CLIENTE
******************************************************************************/
.central_panel_data {
    background: var(--structure_white);
}

.edge_decoration_first {
    padding: 10px;
}

/******************************************************************************
                   ESTILOS D ETEXTOS Y OTROS
******************************************************************************/
.title_organize {
    background: var(--structure_white);
    /* background: var(--structure_white2);*/
}

.title_add {
    color: var(--structure_blue1);
    background: var(--structure_white2);
    font-weight: bold;
    /*Espacio desde el borde hacia adentro*/
    padding: 10px;
    /*Borde del elemento*/
    border: solid 1px var(--structure_blue1);
    border-radius: 10px;
    /*Ancho del Navbar*/
    width: 100%;
    /*Alto del Navbar*/
    height: 100%;
}

.title_edit {
    color: var(--structure_blue2);
    background: var(--structure_white2);
    font-weight: bold;
    /*Espacio desde el borde hacia adentro*/
    padding: 10px;
    /*Borde del elemento*/
    border: solid 1px var(--structure_blue2);
    border-radius: 10px;
    /*Ancho del Navbar*/
    width: 100%;
    /*Alto del Navbar*/
    height: 100%;
}

.title_delete {
    color: var(--structure_red);
    background: var(--structure_white2);
    font-weight: bold;
    /*Espacio desde el borde hacia adentro*/
    padding: 10px;
    /*Borde del elemento*/
    border: solid 1px var(--structure_red);
    border-radius: 10px;
    /*Ancho del Navbar*/
    width: 100%;
    /*Alto del Navbar*/
    height: 100%;
}

.aling_obj_input {
    height: 50px;
}

.aling_obj_button {
    height: 55px;
}

.box_center {
    align-content: center;
}

/******************************************************************************
                   TABLA BOOTSTRAP
******************************************************************************/
.dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
}

#dtHorizontalVerticalExample th,
td {
    white-space: nowrap;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

/******************************************************************************
                   MEDIA
******************************************************************************/
@media (max-width: 1000px) {
    .company_log {
        background: var(--structure_white);
        text-align: center;
        /*Ancho del Navbar*/
        width: 125px;
        /*Alto del Navbar*/
        height: 125px;
        margin: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 950px) {
    /** {
        font-size: 14px;
    }*/
    .left_panel {
        width: 100%;
    }
    .company_log {
        background: var(--structure_white);
        text-align: center;
        /*Ancho del Navbar*/
        width: 115px;
        /*Alto del Navbar*/
        height: 115px;
        margin: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 850px) {
    /** {
        font-size: 13px;
    }*/
    .left_panel {
        width: 100%;
    }
    .company_log {
        background: var(--structure_white);
        text-align: center;
        /*Ancho del Navbar*/
        width: 100px;
        /*Alto del Navbar*/
        height: 100px;
        margin: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 750px) {
    /** {
        font-size: 12px;
    }*/
    .left_panel {
        width: 100%;
    }
    .company_log {
        background: var(--structure_white);
        text-align: center;
        /*Ancho del Navbar*/
        width: 85px;
        /*Alto del Navbar*/
        height: 85px;
        margin: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 650px) {
    /** {
        font-size: 11px;
    }*/
    .left_panel {
        width: 100%;
    }
    .company_log {
        background: var(--structure_white);
        text-align: center;
        /*Ancho del Navbar*/
        width: 72px;
        /*Alto del Navbar*/
        height: 72px;
        margin: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 576px) {
    .company_log {
        background: var(--structure_white);
        text-align: center;
        /*Ancho del Navbar*/
        width: 0px;
        /*Alto del Navbar*/
        height: 0px;
        margin: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 575px) {
    .left_panel_size {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        height: auto;
    }
    .company_log {
        background: var(--structure_white);
        text-align: center;
        /*Ancho del Navbar*/
        width: 0px;
        /*Alto del Navbar*/
        height: 0px;
        margin: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/*!* **************** BOTONES ********************* *!*/

/*.btnGhost {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    !*Centrado del texto*!*/
/*    text-align: center;*/
/*    !*Bajar el texto unos 10px*!*/
/*    padding-top: 15px;*/
/*    !*LE DA EL TAMAÑO AL OBJETO - ALTO - ANCHO padding: 20px 80px;*!*/
/*    !*Ancho del 100%*!*/
/*    width: 100%;*/
/*    !*Alto del 100%*!*/
/*    height: 50px;*/
/*    !*COLOR DE TEXTO*!*/
/*    color: var(--structure_white);*/
/*    !*PERMITE QUE EL TEXTO SIEMPRE ESTÉ EN MAYÚSCULA*!*/
/*    text-transform: uppercase;*/
/*    !*ES PARA ELIMIANR LA LINEA DE SUBRAYADO EL TEXTO*!*/
/*    text-decoration: none;*/
/*    background: var(--structurec_black);*/
/*    !*ANIMACIÓN*!*/
/*    !*VELOCIDAD PARA LA TRANSICIÓN DE CAMBIO DE COLOR*!*/
/*    transition: 1S;*/
/*    !*flex: 1 1 auto;*!*/
/*}*/

/*.btnGhost:hover {*/
/*    !*COLOR DE TEXTO*!*/
/*    color: var(--structure_white);*/
/*    background-color: transparent;*/
/*    !*SIN EL SUBRAYADO*!*/
/*    text-decoration: none;*/
/*}*/

/*.btnGhost:active {*/
/*    !*inset LE DA EL EFECTO HACIA ADENTRO CUANDO SE PRESIONA*!*/
/*    box-shadow: inset 0 0 20px var(--structure_white);*/
/*}*/

/*.btnGhost.secondprimari {*/
/*    !*COLOR DEL BOTÓN*!*/
/*    background-color: transparent;*/
/*    !*COLOR DE TEXTO*!*/
/*    color: var(--structure_white);*/
/*}*/

/*.btnGhost.secondprimari:hover {*/
/*    !*COLOR DE TEXTO*!*/
/*    color: var(--structurec_black);*/
/*    !*COLOR DE BOTON*!*/
/*    background-color: var(--structure_yellow);*/
/*    !*COLOR DEL BORDE DEL BOTON*!*/
/*    border-color: var(--structure_yellow);*/
/*    !*SIN EL SUBRAYADO*!*/
/*    text-decoration: none;*/
/*}*/

/*.btnGhost.secondprimari:active {*/
/*    !*inset LE DA EL EFECTO HACIA ADENTRO CUANDO SE PRESIONA*!*/
/*    box-shadow: inset 0 0 20px var(--structurec_black);*/
/*}*/


/*!* **************** BOTÓN PRECIONADO ********************* *!*/

/*.btnSelected {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    !*Centrado del texto*!*/
/*    text-align: center;*/
/*    !*Bajar el texto unos 10px*!*/
/*    padding-top: 15px;*/
/*    !*LE DA EL TAMAÑO AL OBJETO - ALTO - ANCHO padding: 20px 80px;*!*/
/*    !*Ancho del 100%*!*/
/*    width: 100%;*/
/*    !*Alto del 100%*!*/
/*    height: 50px;*/
/*    !*COLOR DE TEXTO*!*/
/*    color: var(--structurec_black);*/
/*    !*PERMITE QUE EL TEXTO SIEMPRE ESTÉ EN MAYÚSCULA*!*/
/*    text-transform: uppercase;*/
/*    !*ES PARA ELIMIANR LA LINEA DE SUBRAYADO EL TEXTO*!*/
/*    text-decoration: none;*/
/*    background: var(--structure_yellow);*/
/*    !*ANIMACIÓN*!*/
/*    !*VELOCIDAD PARA LA TRANSICIÓN DE CAMBIO DE COLOR*!*/
/*    transition: 1S;*/
/*    !*flex: 1 1 auto;*!*/
/*}*/

/*.btnSelected:hover {*/
/*    !*COLOR DE TEXTO*!*/
/*    color: var(--structurec_black);*/
/*    !*SIN EL SUBRAYADO*!*/
/*    text-decoration: none;*/
/*}*/


/*!* **************** BOTONES AGREGAR / MODIFICAR / ELIMINAR ********************* *!*/

/*.button_add {*/
/*    background: var(--structure_blue3);*/
/*    color: var(--structure_white);*/
/*    text-align: center;*/
/*    position: fixed;*/
/*}*/

/*.button_modify {*/
/*    background: var(--warning_blue2);*/
/*    color: var(--structure_white);*/
/*    text-align: center;*/
/*}*/

/*.button_delete {*/
/*    background: var(--structure_red);*/
/*    color: var(--structure_white);*/
/*    text-align: center;*/
/*}*/

/*.edge_decoration_second {*/
/*    !*Espacio desde el borde hacia adentro*!*/
/*    padding: 20px;*/
/*    !*Borde del elemento*!*/
/*    border: solid 1px var(--structurec_grey);*/
/*    border-radius: 10px;*/
/*    !*Sombra al borde (eje x - eje y - difuminado - expanción - color de la sombra)*!*/
/*    box-shadow: 8px 8px 15px 2px var(--structurec_grey);*/
/*    !*Ancho del Navbar*!*/
/*    width: 100%;*/
/*    !*Alto del Navbar*!*/
/*    height: 100%;*/
/*}*/

/*.edge_decoration_tab {*/
/*    background: var(--structure_white);*/
/*    !*Espacio desde el borde hacia adentro*!*/
/*    padding: 20px;*/
/*    !*Borde del elemento*!*/
/*    border: solid 1px var(--structurec_grey);*/
/*    border-radius: 10px;*/
/*    !*Ancho del Navbar*!*/
/*    width: 100%;*/
/*    !*Alto del Navbar*!*/
/*    height: 100%;*/
/*}*/


/*
.edge_decoration_tab_white {
    padding: 20px;
    border: solid 1px var(--structure_white2);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
*/


/*.containerTab {*/
/*    background: var(--structure_white2);*/
/*    padding: 15px;*/
/*    border-radius: 10px;*/
/*    border: 1px solid var(--structurec_grey);*/
/*    overflow-x: scroll;*/
/*    overflow-y: scroll;*/
/*    !*Estilos estándar experimentales (Principalmente Firefox)*!*/
/*    scrollbar-color: rgba(198, 198, 198, .5) rgba(189, 189, 189, 0);*/
/*    scrollbar-width: thin;*/
/*}*/
