{% extends "body.html" %}

{% load static %}

{% block head %}
    <script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>
{% endblock %}

{% block content_data %}
    <div class="card card-default">
        <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title" style="color:var(--structure_blue2);">
                    <i class="fa-solid fa-chart-column"></i>
                    {{title}}
                </h3>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div id="container"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer text-center" style="background-color:var(--structure_white);">
        {% block buttons_list %}
            <a href="{{ list_url_reports }}" style="background-color:var(--structure_blue4); FONT-SIZE: 10pt" class="btn text-white btn-xs btn-rounded">Ver Reportes <i class="fa-solid fa-list-ul"></i></a>
        {% endblock %}
    </div>

    <script type="application/javascript">
        //Bar Graph
        let graphcolumn = Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Gráfico de Barras - Ventas Anual'
            },
            subtitle: {
                {#text: 'Reporte en Columnas'#}
            },
            xAxis: {
                categories: [
                    'Enero',
                    'Febrero',
                    'Marzo',
                    'Abril',
                    'Mayo',
                    'Junio',
                    'Julio',
                    'Agosto',
                    'Septiembre',
                    'Octubre',
                    'Noviembre',
                    'Diciembre'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Valores $'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b> $ {point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
        });

        function get_graph_sales_year_month() {
            $.ajax({
                url: window.location.pathname, //window.location.pathname
                type: 'POST',
                data: {
                    'action': 'get_graph_sales_year_month'
                },
                dataType: 'json',
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                    graphcolumn.addSeries(data);
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        }


        $(function () {

            get_graph_sales_year_month();
            {#get_graph_sales_products_year_month();#}

        });

    </script>
{% endblock %}


        {#// Pie Graph#}
        {#let graphpie = Highcharts.chart('container-pie', {#}
        {#    chart: {#}
        {#        plotBackgroundColor: null,#}
        {#        plotBorderWidth: null,#}
        {#        plotShadow: false,#}
        {#        type: 'pie'#}
        {#    },#}
        {#    title: {#}
        {#        text: 'Porcentaje de venta de productos por mes'#}
        {#    },#}
        {#    tooltip: {#}
        {#        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'#}
        {#    },#}
        {#    accessibility: {#}
        {#        point: {#}
        {#            valueSuffix: '%'#}
        {#        }#}
        {#    },#}
        {#    plotOptions: {#}
        {#        pie: {#}
        {#            allowPointSelect: true,#}
        {#            cursor: 'pointer',#}
        {#            dataLabels: {#}
        {#                enabled: true,#}
        {#                format: '<b>{point.name}</b>: {point.percentage:.1f} %'#}
        {#            }#}
        {#        }#}
        {#    },#}
        {#);#}
        {##}
        {#function get_graph_sales_products_year_month() {#}
        {#    $.ajax({#}
        {#        url: window.location.pathname, //window.location.pathname#}
        {#        type: 'POST',#}
        {#        data: {#}
        {#            'action': 'get_graph_sales_products_year_month'#}
        {#        },#}
        {#        dataType: 'json',#}
        {#    }).done(function (data) {#}
        {#        if (!data.hasOwnProperty('error')) {#}
        {#            graphpie.addSeries(data);#}
        {#            return false;#}
        {#        }#}
        {#        message_error(data.error);#}
        {#    }).fail(function (jqXHR, textStatus, errorThrown) {#}
        {#        alert(textStatus + ': ' + errorThrown);#}
        {#    }).always(function (data) {#}
        {##}
        {#    });#}
        {##}
