{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'province/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th class="th-sm">Acciones</th>
        <th class="th-sm">Provincia | Estado</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}