{% extends 'list.html' %}

{% load static %}

{% load widget_tweaks %}

{% block head_list %}

    <!-- AutoComplete -->
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <!-- -->
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <script src="{% static 'lib/moment-2.29.1/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

    <!-- My css -->
    <link rel="stylesheet" href="{% static 'css/salestyle2.css' %}">

    <script src="{% static 'processes/js/form.js' %}"></script>

    <script>
        $(document).ready(function() {
            document.getElementById('lbl_state_dressmaking').style.display = 'none';
            document.getElementById('id_state_dressmaking').style.display = 'none';
        });
    </script>

{% endblock %}

<!-- Bloque de Datos -->
{% block content_data %}
    <div class="card card-default">

        <form id="frmSale" method="post" action="." enctype="multipart/form-data" style="background-color:var(--structure_white);">

            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title" style="color:var(--structure_blue2);">
                        {% if action == 'add' %}
                            <i class="fa-solid fa-industry"></i>
                        {% else %}
                            <i class="fa-solid fa-industry"></i>
                        {% endif %}
                        {{ title }}
                    </h3>
                </div>
            </div>

            <div class="card-body">
                <div class="row">

                    <div class="col-lg-9">
                        <div class="card card-secondary">
                            <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">
                                <h3 class="card-title">
                                    <i class="fa-solid fa-clipboard-list"></i> Carga de Datos
                                </h3>
                            </div>

                            <div class="card-body">

                                <input type="hidden" name="action" value="{{ action }}">

                                <div class="form-group">
                                    <label>Buscar Producto:</label>
                                    <div class="input-group">
                                        <select class="form-control select2" name="products"></select>
{#                                        <select class="form-control select2" style="width: 100%;" name="products">#}
                                    </div>
                                </div>

                                <hr>

                                <div class="form-group">
                                    <label>Productos:</label>
                                    <input id="process_prod" type="text" class="form-control" readonly name="process_prod">
                                </div>

                                <div hidden class="form-group">
                                    <input id="product_id" type="text" class="form-control" readonly name="product_id">
                                </div>

                                <div class="form-group">
                                    <label>Observaciones:</label>
                                    {{ form.observation }}
                                </div>

                                <div class="form-group">
                                    <label>Cantidad:</label>
                                    {{ form.quantity }}
                                </div>

                                <div class="form-group">
                                    <label>Estado:</label>
                                    {{ form.state }}
                                </div>

                                <div class="form-group" id="lbl_state_dressmaking" style="display: none">
                                    <label>Confeccionistas:</label>
                                    {{ form.state_dressmaking }}
                                </div>

                                <div class="form-group">
                                    <label>Tienda:</label>
                                    {{ form.destiny }}
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-lg-3">
                        <div class="card card-secondary">

                            <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">
                                <h3 class="card-title">
                                    <i class="fa-solid fa-calendar-days"></i> Fecha Desde | Hasta
                                </h3>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label>Fecha de venta:</label>
                                    <div class="md-form md-outline input-with-pre-icon timepicker" twelvehour="true">
                                        {{ form.process_date_joined }}
                                        <i class="fa-regular fa-calendar-days input-prefix"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Fecha de entrega:</label>
                                    <div class="md-form md-outline input-with-pre-icon timepicker" twelvehour="true">
                                        {{ form.process_date_finish }}
                                        <i class="fa-regular fa-calendar-days input-prefix"></i>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="card-footer text-center" style="background-color:var(--structure_white);">
                {% if action == 'add' %}
                    <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-xs btn-rounded">
                        Guardar <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                {% else %}
                    <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-xs btn-rounded">
                        Actualizar <i class="fa-solid fa-rotate"></i>
                    </button>
                {% endif %}
                <a href="{{ list_url }}" style="background-color:var(--structure_red); FONT-SIZE: 9pt" class="btn text-white btn-xs btn-rounded">
                    Cancelar <i class="fa-solid fa-xmark"></i>
                </a>
            </div>

        </form>

    </div>

    <script src="{% static 'processes/js/validations.js' %}"></script>

{% endblock %}