{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'processes/js/list.js' %}"></script>
{% endblock %}

{% block context %}

    <div class="card-body" align="center">

            <button type="button" class="btn text-white" style="background-color:var(--color_iconos_1_8)">Diseño: {{ Diseño }}</button>
            <button type="button" class="btn text-white" style="background-color:var(--structure_red)">Pendiente: {{ Pendiente }}</button>
            <button type="button" class="btn text-white" style="background-color:var(--color_iconos_2_7)">Maquetería: {{ Maquetería }}</button>
            <button type="button" class="btn text-white" style="background-color:var(--color_iconos_3)">Impresión: {{ Impresión }}</button>
            <button type="button" class="btn text-white" style="background-color:var(--color_iconos_4)">Planchado: {{ Planchado }}</button>
            <button type="button" class="btn text-white" style="background-color:var(--color_estructura_1)">Confección: {{ Confección }}</button>
            <button type="button" class="btn text-white" style="background-color:var(--color_estructura_2)">Paquetería: {{ Paquetería }}</button>
            <button type="button" class="btn text-white" style="background-color:var(--color_iconos_2_7)">Despacho: {{ Despacho }}</button>

    </div>

    <hr>

{% endblock context %}

{% block columns %}
    <tr>
        <th class="th-sm">Acción</th>
        <th class="th-sm">Estado</th>
        <th class="th-sm">N° Orden</th>
        <th class="th-sm">Ingreso</th>
        <th class="th-sm">Vencimiento</th>
        <th class="th-sm">Producto</th>
        <th class="th-sm">Imagen</th>
        <th class="th-sm">Cantidad</th>
        <th class="th-sm">Observación</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
