{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'lib/moment-2.29.1/moment.min.js' %}"></script>
    <script src="{% static 'lib/daterangepicker-3.1/spanish.js' %}"></script>
    <script src="{% static 'lib/daterangepicker-3.1/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/daterangepicker-3.1/daterangepicker.css' %}"/>

    <!-- DataTable -->
    <link rel="stylesheet" href="{% static 'lib/datatables/datatables-1.10.22/plugins/buttons-1.6.1/css/buttons.bootstrap.min.css' %}"/>
    <script src="{% static 'lib/datatables/datatables-1.10.22/plugins/buttons-1.6.1/js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/plugins/jszip-2.5.0/jszip.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/plugins/pdfmake-0.1.36/pdfmake.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/plugins/pdfmake-0.1.36/vfs_fonts.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/plugins/buttons-1.6.1/js/buttons.html5.min.js' %}" type="text/javascript"></script>
    <!-- -->

    <script src="{% static 'report-sale/js/report-sale.js' %}"></script>
{% endblock %}

{% block content_data %}

<!-- /.card-header -->
    <div class="card card-default">
        <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title" style="color:var(--structure_blue2);">
                    <i class="fa-solid fa-chart-column"></i>
                    {{title}}
                    </h3>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Fechas Desde | Hasta</label>
                        {{ form.date_range }}
                    </div>
                </div>
            </div>
            <hr>
            <!-- TABLE -->
            <table id="data" class="table table-striped table-hover table-sm text-center">
                <thead style="background-color:var(--structure_blue3);" class="text-white">
                    <tr>
                        <th scope="col">N° Orden</th>
                        <th scope="col">Nombre Comprador</th>
                        <th scope="col">Fecha Registro</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Descuento</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>

         <div class="card-footer text-center">
            {% block buttons_list %}
                <a href="{{ list_url }}" style="background-color:var(--structure_blue4); FONT-SIZE: 10pt" class="btn text-white btn-xs btn-rounded">Actualizar <i class="fa-solid fa-rotate"></i></a>
                <a href="{{ list_url_return }}" style="background-color:var(--structure_red); FONT-SIZE: 10pt" class="btn text-white btn-xs btn-rounded">Cancelar <i class="fa-solid fa-xmark"></i></a>
            {% endblock %}
        </div>

    </div>



{% endblock %}
