{% extends 'listp.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'processes-layout/js/list.js' %}"></script>
{% endblock %}

{% block context %}
    <span class="info-box-icon text-white" style="background-color:var(--color_iconos_2_7)">
        <i class="fa-solid fa-layer-group"></i>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">{{ proces }}</span>
        <span class="info-box-number">{{ context_cont }}</span>
    </div>
{% endblock context %}

{% block columns %}
    <tr>
        <th class="th-sm">Acción</th>
        <th class="th-sm">Estado</th>
        <th class="th-sm">N° Orden</th>
        <th class="th-sm">Ingreso</th>
        <th class="th-sm">Vencimiento</th>
        <th class="th-sm">Producto</th>
        <th class="th-sm">Imagen</th>
        <th class="th-sm">Cantidad</th>
        <th class="th-sm">Observación</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
