{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'product/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th class="th-sm">Acciones</th>
        <th class="th-sm">Producto</th>
        <th class="th-sm">Imagen</th>
        <th class="th-sm">Stock</th>
        <th class="th-sm">Precio Venta</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
