{% extends 'list.html' %}

{% load static %}

{% load widget_tweaks %}

{% block head_list %}
    <!-- AutoComplete -->
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <!-- -->
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <script src="{% static 'lib/moment-2.29.1/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

    <!-- Estilos personalizados solo para algunos módulos -->
    <link rel="stylesheet" href="{% static 'css/salestyle.css' %}">
    <script src="{% static 'tiendanube/js/formaddapi.js' %}"></script>

{% endblock %}

<!-- Bloque de Datos -->
{% block content_data %}
    <div class="card card-default">

        <form id="frmSaleTiendanubeApi" method="post" action="." enctype="multipart/form-data" style="background-color:var(--structure_white);">

            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title" style="color:var(--structure_blue2);">
                        <i class="fa-solid fa-plus"></i>
                        {{ title }}
                    </h3>
                </div>
            </div>

            <div class="card-body">
                <div class="row">

                    <div class="col-lg-9">
                        <div class="card card-secondary">
                            <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">

                                <h3 class="card-title">
                                    <i class="fa-solid fa-boxes-packin"></i> Detalle de los Productos
                                </h3>

                            </div>

                            <div class="card-body">

                                <div class="form-group">
                                    <!-- Buscador de Números de Órdenes -->
                                    <div class="form-group">
                                        <label>Buscar N° Orden:</label>
                                        <div class="input-group">
                                            <select class="form-control select2" style="width: 100%;" name="search_order_number"></select>
                                        </div>
                                    </div>
                                    <div hidden class="form-group">
                                        <label>Número de Orden:</label>
                                        <input id="order_numbers" type="text" class="form-control" readonly name="order_numbers">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>Nombre comprador:</label>
                                        <input id="customer_names" type="text" class="form-control" readonly name="customer_names">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>Email:</label>
                                        <input id="email" type="email" class="form-control" readonly name="email">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>DNI / CUIL:</label>
                                        <input id="dni_cuit" type="text" class="form-control" readonly name="dni_cuit">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>Teléfono:</label>
                                        <input id="phone" type="text" class="form-control" readonly name="phone">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>Dirección:</label>
                                        <input id="address" type="text" class="form-control" readonly name="address">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>Number:</label>
                                        <input id="number" type="text" class="form-control" readonly name="number">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>Piso:</label>
                                        <input id="flor" type="text" class="form-control" readonly name="flor">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>Localidad:</label>
                                        <input id="locality" type="text" class="form-control" readonly name="locality">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>Ciudad / Departamento:</label>
                                        <input id="city" type="text" class="form-control" readonly name="city">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>Código Postal:</label>
                                        <input id="postal_code" type="text" class="form-control" readonly name="postal_code">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>Provincia / Estado:</label>
                                        <input id="province" type="text" class="form-control" readonly name="province">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>País:</label>
                                        <input id="country" type="text" class="form-control" readonly name="country">
                                    </div>
                                    <div hidden class="form-group">
                                        <label>ID Orden:</label>
                                        <input id="orders_id" type="text" class="form-control" readonly name="orders_id">
                                    </div>

                                <!-- Buscador de Productos -->
                                    <div hidden class="form-group">
                                        <input id="input_order_numbers" type="text" class="form-control" readonly name="order_numbers">
                                    </div>

                                    <div class="form-group">
                                        <strong><label id="lblOrderNumber" style="color:var(--structure_blue2);" >Número de Orden:</label></strong>
                                    </div>

                                    <div class="form-group hiddenSearchProducts" id="hiddenSearchProducts">
                                        <label>Buscar Productos:</label>
                                        <div class="input-group">
                                            <select class="form-control select2" name="search"></select>
    {#                                        <input type="text" class="form-control" autocomplete="off" placeholder="Enter a description" maxlength="50" name="search">#}
                                            <div class="input-group-append">
                                                <button style="background-color:var(--structure_blue4); FONT-SIZE: 10pt" class="dropdown-toggle text-white btn-rounded btn-flat" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Opciones
                                                </button>

                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item btnSearchProducts">
                                                        <i class="fa-solid fa-magnifying-glass"></i> Buscar productos
                                                    </a>
    {#                                                <a class="dropdown-item btnClearSearch">#}
    {#                                                    <i class="fas fa-times"></i> Limpiar búsqueda#}
    {#                                                </a>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <button type="button" style="background-color:var(--structure_red); Font-size: 12px" class="btn text-white btn-rounded btnRemoveAlltn">
                                    Limpiar Tabla <i class="fa-solid fa-trash-can"></i>
                                </button>
                                <hr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table id="tblProducts" class="table table-striped table-hover table-sm text-center">
                                                <thead style="background-color:var(--structure_blue3);" class="text-white">
                                                    <tr>
                                                        <th>Eliminar</th>
                                                        <th>N° Orden</th>
                                                        <th>Nombre Producto</th>
                                                        <th>Precio</th>
                                                        <th>Cantidad</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card card-secondary">
                            <div class="card-header navbar-dark text-white" style="background-color:var(--structure_blue4);">
                                <h3 class="card-title"><i class="fa-solid fa-cart-plus"></i> Datos de la factura</h3>
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="action" value="{{ action }}">
                                <div class="form-group">
                                    <label>Fecha de venta:</label>
                                    {{ form.process_date_joined }}
                                </div>

                                <div class="form-group">
                                    <label>Subtotal:</label>
                                    {{ form2.subtotal }}
                                </div>

                                <div class="form-group">
                                    <label>% Dtos.:</label>
                                    <input type="text" class="form-control text-center" name="iva" value="0.0">
                                </div>

                                <div class="form-group">
                                    <label>% Dtos. Calculado:</label>
                                    <input id="dtoCalculado" type="text" class="form-control" readonly name="ivacalc" value="0.0">
                                </div>

                                <div class="form-group">
                                    <label>Total a pagar:</label>
                                    {{ form2.total }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-center" style="background-color:var(--structure_white);">
                {% if action == 'add' %}
                    <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-rounded">
                        Guardar <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                {% else %}
                    <button type="submit" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-rounded">
                        Actualizar <i class="fa-solid fa-rotate"></i>
                    </button>
                {% endif %}
                <a href="{{ list_url }}" style="background-color:var(--structure_red); FONT-SIZE: 9pt" class="btn text-white btn-rounded">
                    Cancelar <i class="fa-solid fa-xmark"></i>
                </a>
            </div>

        </form>

    </div>


    <!-- Modal Search Products -->
    <div class="modal fade" id="ModalSearchProductsTiendanube1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-white" style="background-color:var(--structure_blue2);">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <b><i class="fa-solid fa-magnifying-glass"></i> Búsqueda de Productos</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-hover table-responsive" id="tblSearchProducts">
                        <thead style="background-color:var(--structure_blue3);" class="text-white">
                            <tr>
                                <th>Nombre Producto</th>
                                <th>Imagen</th>
                                <th>Stock</th>
                                <th>Precio Unitario</th>
                                <th>Opción</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer justify-content-center">
                    <button style="background-color:var(--structure_red); Font-size: 12px" class="btn text-white btn-rounded btn-block btn-xs btn-flat" type="button" data-dismiss="modal" aria-label="Close">
                        Cerrar <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <script>
        /*vents.items.products = {{ det|safe }};
        vents.list();*/
    </script>

{% endblock %}