{% extends "body.html" %}

{% load static %}

{% load widget_tweaks %}

{% block head %}

    <!-- Lee archivo EXCEL -->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/jszip.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.min.js"></script>#}
    <!-- Convierte número de JSON a Fecha -->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
    <!-- END - Convierte número de JSON a Fecha -->

    <script src="{% static 'js/ajax/libs/jquery-3.6.0-jquery.min.js' %}"></script>
    <script src="{% static 'js/ajax/libs/xlsx-0.17.0-jszip.min.js' %}"></script>
    <script src="{% static 'js/ajax/libs/xlsx-0.17.0-xlsx.min.js' %}"></script>
    <!-- Convierte número de JSON a Fecha -->
    <script src="{% static 'js/ajax/libs/moment.js-2.24.0-moment.min.js' %}"></script>
    <script src="{% static 'js/ajax/libs/jquery-3.4.1-jquery.min.js' %}"></script>
    <!-- END - Convierte número de JSON a Fecha -->

    <script src="{% static 'tiendanube/js/form.js' %}"></script>

{% endblock %}

{% block content_data %}
<!-- /.card-header -->
    <div class="card card-default">

        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title" style="color:var(--structure_blue2);">
                    <i class="fa-solid fa-rectangle-list"></i>
                    {{title}}
                </h3>
            </div>
        </div>

        <div class="row mb-4 wow fadeIn" >

            <div class="col-lg-4 col-md-12 mb-4">
            </div>

            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card" >
                    <img class="card-img-top" src="{% static 'image/fondo_tigres(1032x688).jpg' %}" alt="Card image cap">

                    <div class="card-body" style="background-color:var(--structure_white);">

                        <form method="POST" action="." enctype="multipart/form-data">

{#                            <div class="card card-primary card-outline">#}
{#                                <div class="card-header">#}
{#                                    <h4 class="card-title" style="color:var(--structure_blue2);">#}
{#                                        <i class="fas far fa-list-alt"></i>#}
{#                                        {{title}}#}
{#                                    </h4>#}
{#                                </div>#}
{#                            </div>#}

{#                            <div class="card-body">#}
                                {% csrf_token %}
                                <input id="hidden" type="hidden" name="action" value="{{ action }}">
                                <!-- Lee EXCEL - name="files[]" -->
                {#                <input id="upload" type=file onclick="upLoadFile()" accept=".xlsx">#}
                               <!-- <button style="background-color:#02732A; FONT-SIZE: 10pt" ="btnclass white-text btn-rounded btn_addForm">Add Fomr <i class="fas fa-sync ml-1"></i></button>

                                <textarea class="form-control" rows=35 cols=120 id="xlx_json"></textarea>
                                -->
                                <!-- END - Lee EXCEL -->

{#                            </div>#}

{#                             <div class="card-footer text-center">#}
                            <div class="text-center">
                                {% if action == 'add' %}
                                     <button type="submit" style="background-color:var(--structure_blue2); FONT-SIZE: 9pt" class="btn text-white btn-rounded" id="enviar">Descargar <i class="fa-solid fa-arrow-down-short-wide ml-1"></i></button>
                                      <a type="submit" href="{{ list_url }}" style="background-color:var(--structure_red); FONT-SIZE: 9pt" class="btn text-white btn-rounded">Cancelar <i class="fa-solid fa-xmark ml-1"></i></a>
                                {% endif %}
                            </div>

                        </form>

                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-4">
            </div>

        </div>
{#    </section>#}
        <!-- Card -->
{##}
{#        <form method="POST" action="." enctype="multipart/form-data" style="background-color:var(--structure_white);">#}
{##}
{#            <div class="card card-primary card-outline">#}
{#                <div class="card-header">#}
{#                    <h3 class="card-title" style="color:var(--structure_blue2);">#}
{#                        <i class="fas far fa-list-alt"></i>#}
{#                        {{title}}#}
{#                    </h3>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="card-body">#}
{#                {% csrf_token %}#}
{#                <input id="hidden" type="hidden" name="action" value="{{ action }}">#}
{#                <!-- Lee EXCEL - name="files[]" -->#}
{#                <input id="upload" type=file onclick="upLoadFile()" accept=".xlsx">#}
{#               <!-- <button style="background-color:#02732A; FONT-SIZE: 10pt" ="btnclass white-text btn-rounded btn_addForm">Add Fomr <i class="fas fa-sync ml-1"></i></button>#}
{##}
{#                <textarea class="form-control" rows=35 cols=120 id="xlx_json"></textarea>#}
{#                -->#}
{#                <!-- END - Lee EXCEL -->#}
{##}
{#            </div>#}
{##}
{#             <div class="card-footer text-center" style="background-color:var(--structure_white);">#}
{#                {% if action == 'add' %}#}
{#                     <button type="submit" style="background-color:var(--structure_blue2); FONT-SIZE: 9pt" class="btn text-white btn-rounded" id="enviar">Descargar <i class="fas fa-arrow-down ml-1"></i></button>#}
{#                      <a type="submit" href="{{ list_url }}" style="background-color:var(--structure_red); FONT-SIZE: 9pt" class="btn text-white btn-rounded">Cancelar <i class="fas fa-times ml-1"></i></a>#}
{#                {% endif %}#}
{#            </div>#}
{##}
{#        </form>#}
    </div>

    <script>
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                {#console.log(data);#}
                {#if (!data.hasOwnProperty('error')) {#}
                    location.href = '{{ list_url }}';
                    return false;

                {#message_error(data.error);#}
            }).fail(function (jqXHR, textStatus, errorThrown) {
                {#alert(textStatus + ': ' + errorThrown);#}
            }).always(function (data) {

            });
        });

    </script>

{% endblock %}
