{% extends 'listtiendanube.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'tiendanube/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th class="th-sm">Acciones</th>
        <th class="th-sm">N° Orden</th>
        <th class="th-sm">Fecha Venta</th>
        <th class="th-sm">Nombre Comprador</th>
        <th class="th-sm">Email</th>
        <th class="th-sm">DNI | CUIL</th>
        <th class="th-sm">Teléfono</th>
        <th class="th-sm">Dirección</th>
        <th class="th-sm">Número</th>
        <th class="th-sm">Piso</th>
        <th class="th-sm">Localidad</th>
        <th class="th-sm">Ciudad | Departamento</th>
        <th class="th-sm">Cód.Postal</th>
        <th class="th-sm">Provincia | Estado</th>
        <th class="th-sm">País</th>
        <th class="th-sm">Nombre Producto</th>
        <th class="th-sm">Precio Producto</th>
        <th class="th-sm">Cantidad</th>
        <th class="th-sm">Fecha Pago</th>
        <th class="th-sm">Medio Pago</th>
        <th class="th-sm">Estado Orden</th>
        <th class="th-sm">Estado Pago</th>
        <th class="th-sm">Moneda</th>
        <th class="th-sm">Subtotal Venta</th>
        <th class="th-sm">Cupón descuento</th>
        <th class="th-sm">Descuento</th>
        <th class="th-sm">Costo envío</th>
        <th class="th-sm">Total</th>
        <th class="th-sm">Medio Envío</th>
        <th class="th-sm">Nota Comprador</th>
        <th class="th-sm">Nota Vendedor</th>
        <th class="th-sm">Identificador Transacción</th>
        <th class="th-sm">ID Orden</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}